@model IEnumerable<PerfectWeddings.DataTransferObjects.BasicProfileDto>
<style>
    .label-success {
    background-color: #26C281;
}
</style>

<div class="" id="Usertab">
    <div class="portlet ">
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">

                            <button id="Btn_Create_New_User" class="btn  btn-default" onclick='UserManagement.CreateUserModal();'>
                                Add New
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group pull-right">
                            <button id="Btn_GridView_List" class="btn btn-outline grey-mint" data-toggle="modal" @*onclick="OpenManageGridViewList();" *@  title="Add/Remove Column"><i class="fa fa-trello"></i></button>

                            <div id="ManageGridView" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                </div>
                            </div>

                            <button class="btn grey-mint btn-outline dropdown-toggle" href="#" data-toggle="dropdown" title="Tools" data-close-others="true">
                                <i class="fa fa-cogs"></i>
                            </button>

                            <ul class="dropdown-menu pull-right" id="sample_user_tool">
                                <li>
                                    <a href="javascript:;" data-action="0" class="tool-action">
                                        <i class="fa fa-print"></i> Print
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="4" class="tool-action">
                                        <i class="fa fa-file-excel-o"></i> Export to Excel
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-action="2" class="tool-action">
                                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="table-responsive" style="overflow-x:hidden">
                    <table class="table table-striped table-bordered table-hover" id="UserTbl">
                        <thead>
                            <tr>
                                <th class='text-center'> S.No. </th>
                                <th class='text-center'> User Name </th>
                                <th class='text-center'> Email </th>
                                <th class='text-center'> Name </th>
                                <th class='text-center'> Joined </th>
                                <th class='text-center'> Status </th>
                                <!--<th>Role</th>-->
                                <th class='text-center'>Action </th>
                            </tr>
                        </thead>
                        <tbody id="">

                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td class="text-center">@item.Id</td>
                                    <td class="text-center">@item.UserName</td>
                                    <td class="text-center">@item.Email</td>
                                    <td class="text-center">@item.FirstName @item.LastName</td>
                                    <td class="text-center">@item.JoinDate</td>
                                    @if (item.IsActive == true)
                                    {
                                        <td class="text-center"><span class="label label-sm  label-success"> Active</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><span class="label label-sm label-danger"> In Active</span></td>
                                    }
                                    <td class="text-center">
                                        <a title='Edit/Activate User' class='btnUpdateUser' data-url="@Url.Action("_UpdateUser", "UserManagement", new {@id = @item.Key })" value="@item.Key"><i class='fa fa-pencil' aria-hidden='true'></i></a>|
                                      @*  <a data-val="@item.Key" data-toggle=modal class='BtnUserDelete' href='#DelUserModel' value="@item.Key" data-name="@item.UserName" id="DeleteUser"> <i class='fa fa-trash-o' aria-hidden='true'></i></a>|*@
                                        <a title='Delete User' data-url="@Url.Action("_DeleteUser", "UserManagement", new { @id = @item.Key })" class='BtnUserDelete' value="@item.Key" data-name="@item.UserName" id="DeleteUser"> <i class='fa fa-trash-o' aria-hidden='true'></i></a>|
                                        <a title='Assign Roles' style='display:none;' class='btnRole' data-toggle='modal' href='#AssignResponsiveRole' data-username="@item.Key" data-name="@item.FirstName @item.LastName" data-key="@item.Key"> <i class='fa fa-user' aria-hidden='true'></i></a> <a title='Assign Privilege code' class='btnPrivilege' data-username="@item.UserName" data-name="@item.FirstName @item.LastName" data-key="@item.Key" data-toggle='modal' data-target='#AssignPrivilege'> <i class='fa fa-key' aria-hidden='true'></i></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
            <div class="page-quick-sidebar">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab">
                            Users
                            <span class="badge badge-danger">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab">
                            Alerts
                            <span class="badge badge-success">7</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            More
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-bell"></i> Alerts
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-info"></i> Notifications
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-speech"></i> Activities
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_3" data-toggle="tab">
                                    <i class="icon-settings"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                        <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                            <h3 class="list-heading">Staff</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">8</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar3.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Bob Nilson</h4>
                                        <div class="media-heading-sub"> Project Manager </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar1.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nick Larson</h4>
                                        <div class="media-heading-sub"> Art Director </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-danger">3</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar4.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Deon Hubert</h4>
                                        <div class="media-heading-sub"> CTO </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar2.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Wong</h4>
                                        <div class="media-heading-sub"> CEO </div>
                                    </div>
                                </li>
                            </ul>
                            <h3 class="list-heading">Customers</h3>
                            <ul class="media-list list-items">
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-warning">2</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar6.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Lara Kunis</h4>
                                        <div class="media-heading-sub"> CEO, Loop Inc </div>
                                        <div class="media-heading-small"> Last seen 03:10 AM </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="label label-sm label-success">new</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar7.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ernie Kyllonen</h4>
                                        <div class="media-heading-sub">
                                            Project Manager,
                                            <br> SmartBizz PTL
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar8.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Lisa Stone</h4>
                                        <div class="media-heading-sub"> CTO, Keort Inc </div>
                                        <div class="media-heading-small"> Last seen 13:10 PM </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-success">7</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar9.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Deon Portalatin</h4>
                                        <div class="media-heading-sub"> CFO, H&D LTD </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar10.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Irina Savikova</h4>
                                        <div class="media-heading-sub"> CEO, Tizda Motors Inc </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-status">
                                        <span class="badge badge-danger">4</span>
                                    </div>
                                    <img class="media-object" src="../assets/layouts/layout/img/avatar11.jpg" alt="...">
                                    <div class="media-body">
                                        <h4 class="media-heading">Maria Gomez</h4>
                                        <div class="media-heading-sub"> Manager, Infomatic Inc </div>
                                        <div class="media-heading-small"> Last seen 03:10 AM </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="page-quick-sidebar-item">
                            <div class="page-quick-sidebar-chat-user">
                                <div class="page-quick-sidebar-nav">
                                    <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                        <i class="icon-arrow-left"></i>Back
                                    </a>
                                </div>
                                <div class="page-quick-sidebar-chat-user-messages">
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> When could you send me the report ? </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> Its almost done. I will be sending it shortly </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:15</span>
                                            <span class="body"> Alright. Thanks! :) </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:16</span>
                                            <span class="body"> You are most welcome. Sorry for the delay. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> No probs. Just take your time :) </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> Alright. I just emailed it to you. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> Great! Thanks. Will check it right away. </span>
                                        </div>
                                    </div>
                                    <div class="post in">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Ella Wong</a>
                                            <span class="datetime">20:40</span>
                                            <span class="body"> Please let me know if you have any comment. </span>
                                        </div>
                                    </div>
                                    <div class="post out">
                                        <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar3.jpg" />
                                        <div class="message">
                                            <span class="arrow"></span>
                                            <a href="javascript:;" class="name">Bob Nilson</a>
                                            <span class="datetime">20:17</span>
                                            <span class="body"> Sure. I will check and buzz you if anything needs to be corrected. </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-quick-sidebar-chat-user-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type a message here...">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn green">
                                                <i class="icon-paper-clip"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                        <div class="page-quick-sidebar-alerts-list">
                            <h3 class="list-heading">General</h3>
                            <ul class="feeds list-items">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    You have 4 pending tasks.
                                                    <span class="label label-sm label-warning ">
                                                        Take action
                                                        <i class="fa fa-share"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> Just now </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bar-chart-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Finance Report for year 2013 has been released. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 20 mins </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    New order received with
                                                    <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 30 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Web server hardware needs to be upgraded.
                                                    <span class="label label-sm label-warning"> Overdue </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 2 hours </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-default">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> IPO Report for year 2013 has been released. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 20 mins </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="list-heading">System</h3>
                            <ul class="feeds list-items">
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    You have 4 pending tasks.
                                                    <span class="label label-sm label-warning ">
                                                        Take action
                                                        <i class="fa fa-share"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> Just now </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-danger">
                                                        <i class="fa fa-bar-chart-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> Finance Report for year 2013 has been released. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 20 mins </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-default">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-info">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    New order received with
                                                    <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 30 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 24 mins </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="fa fa-bell-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    Web server hardware needs to be upgraded.
                                                    <span class="label label-sm label-default "> Overdue </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date"> 2 hours </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-info">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc"> IPO Report for year 2013 has been released. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> 20 mins </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane page-quick-sidebar-settings" id="quick_sidebar_tab_3">
                        <div class="page-quick-sidebar-settings-list">
                            <h3 class="list-heading">General Settings</h3>
                            <ul class="list-items borderless">
                                <li>
                                    Enable Notifications
                                    <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                                <li>
                                    Allow Tracking
                                    <input type="checkbox" class="make-switch" data-size="small" data-on-color="info" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                                <li>
                                    Log Errors
                                    <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                                <li>
                                    Auto Sumbit Issues
                                    <input type="checkbox" class="make-switch" data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                                <li>
                                    Enable SMS Alerts
                                    <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                            </ul>
                            <h3 class="list-heading">System Settings</h3>
                            <ul class="list-items borderless">
                                <li>
                                    Security Level
                                    <select class="form-control input-inline input-sm input-small">
                                        <option value="1">Normal</option>
                                        <option value="2" selected>Medium</option>
                                        <option value="e">High</option>
                                    </select>
                                </li>
                                <li>
                                    Failed Email Attempts
                                    <input class="form-control input-inline input-sm input-small" value="5" />
                                </li>
                                <li>
                                    Secondary SMTP Port
                                    <input class="form-control input-inline input-sm input-small" value="3560" />
                                </li>
                                <li>
                                    Notify On System Error
                                    <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                                <li>
                                    Notify On SMTP Error
                                    <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                </li>
                            </ul>
                            <div class="inner-content">
                                <button class="btn btn-success">
                                    <i class="icon-settings"></i> Save Changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <!--Delete user Modal popup-->
        @*<div id="DelUserModel" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" style="left:0 !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Delete  User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="" data-always-visible="1" data-rail-visible1="1">
                            <div class="">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
                                <div class="">
                                    <div class="form">
                                        <div class="form-group">
                                            <p class="text-center">Are you sure you want to delete the <label style="font-weight: bold;" class="control-label nameVal" id="username"></label> User ?</p>
                                            <input type="hidden" class="hiddenName" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn grey-mint btn-outline">Close</button>
                        <button type="button" class="btn btn-default  BtnDeleteUserButton" data-val="0" data-name="" id="BtnDeleteUserButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>*@

        <!--Modal for Assign Privileges-->

        <div id="AssignPrivilege" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Assign Privilege to Users</h4>
                    </div>
                    <div class="modal-body">
                        <div class="" data-always-visible="1" data-rail-visible1="1">
                            <div class="">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
                                <div class="">
                                    <div class="form">
                                        <div class="col-lg-12">
                                            <div class="col-lg-3">
                                                <label class="control-label">Username</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="input-icon">
                                                    <i class="fa fa-user"></i>
                                                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" id="txtUsername_Privelege" readonly="readonly" />
                                                    <label id="lblErrorUserName" class="validateMessage"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="col-lg-3">
                                                <label class="control-label "> Name</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="input-icon">
                                                    <i class="fa fa-font"></i>
                                                    <input class="form-control placeholder-no-fix" type="text" placeholder="Name" id="txtName_Privelege" autocomplete="off" readonly="readonly" />
                                                    <label id="lblErrorFirstName" class="validateMessage"></label>

                                                    <input type="hidden" id="txt_user_key_Privelege" value="0" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 form-group">
                                            <div class="col-lg-3">
                                                <label class="control-label">Select Privilege Code</label>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="input-icon">
                                                    <select multiple="multiple" class="form-control ddlPrivilegeAssign" name="ddlPrivilegeAssign" id="ddlPrivilegeAssign"></select>
                                                    <label id="lblErrorPrivilegeAssignSelect" class="validateMessage">Please Select the Role</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table  table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>

                                                <th> Privilege Name </th>
                                                <th> Created On </th>
                                                <th> Action </th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblAssignPrivilege"></tbody>
                                    </table>

                                </div>
                                <!-- END SAMPLE FORM PORTLET-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn grey-mint btn-outline">Close</button>
                        <button type="button" class="btn btn-default BtnPrivilegeAssign" id="BtnPrivilegeAssign" onclick="UserManagement.PrivilegeAssign()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>






        <!--Modal for Assign Roles-->

        <div id="AssignResponsiveRole" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" style="left:0 !important">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Assign Roles to Users</h4>
                    </div>
                    <div class="modal-body">
                        <div class="scroller" style="height:500px" data-always-visible="1" data-rail-visible1="1">
                            <div class="">
                                <!-- BEGIN SAMPLE FORM PORTLET-->
                                <div class="">
                                    <div class="form">
                                        <div class="form-group">
                                            <label class="control-label">Username</label>
                                            <div class="input-icon">
                                                <i class="fa fa-user"></i>
                                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" id="txtUsername_Role" readonly="readonly" />
                                                <label id="lblErrorUserName" class="validateMessage"></label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label "> Name</label>
                                            <div class="input-icon">
                                                <i class="fa fa-font"></i>
                                                <input class="form-control placeholder-no-fix" type="text" placeholder="Name" id="txtName_Role" autocomplete="off" readonly="readonly" />
                                                <label id="lblErrorFirstName" class="validateMessage"></label>

                                                <input type="hidden" id="txt_user_key" value="0" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Select Role</label>
                                            <div class="input-icon">
                                                <select class="form-control ddlRole" name="ddlRole" id="ddlRole">
                                                    <option>SELECT ROLE</option>


                                                </select>
                                                <label id="lblErrorRoleSelect" class="validateMessage">Please Select the Role</label>
                                            </div>
                                        </div>



                                    </div>
                                    <table class="table  table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>

                                                <th> Role Name </th>
                                                <th> Action </th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblAssignRole"></tbody>
                                    </table>

                                </div>
                                <!-- END SAMPLE FORM PORTLET-->

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn grey-mint btn-outline">Close</button>
                        <button type="button" class="btn btn-default asgnBtn" id="asgnBtn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



        <script src="~/Scripts/CaliberScripts/UserManagement.js"></script>

        <script type="text/javascript">



            $(document).ready(function () {
                UserManagement.UserDataTable();
                AssignRoles();
                //getALLRoles();

            });




            $("body").on("click", ".btnRole", function () {
                var user_name = $(this).attr("data-username");
                var name_key = $(this).attr("data-name");
                var user_key = $(this).attr("data-key");
                document.getElementById("txtUsername_Role").value = user_name;
                document.getElementById("txtName_Role").value = name_key;
                document.getElementById("txt_user_key").value = user_key;

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getAllRolesByid", "UserManagement")',
                    data: { usr_id: user_key },
                    dataType: 'json',
                    success: function (data) {
                        $('#tblAssignRole').empty();
                        var items = '';
                        $.each(data, function (i, item) {
                            var rows = "<tr class=\"odd gradeX\">"
                            + "<td>" + item.cmatrix_priviledge_code.cpc_name + "</td>"
                             + "<td> <a id = 'btnRemoveSelectedRole' class='btnRemoveSelectedRole' data-val='" + item.cpp_key + "' > <i class='fa fa-trash-o' aria-hidden='true'></i> </a>  </td>";
                            + "</tr>";

                            $('#tblAssignRole').append(rows);

                        });
                    }
                });

            });

            function AssignRoles() {

                var ddltext = $(".ddlRole option:selected").text();

                if (ddltext != "SELECT ROLE") {
                    var user_key = document.getElementById("txt_user_key").value;
                    var roleid = $(".ddlRole").val();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("AssignRoleToUser", "UserManagement")',
                        // data: "id=" + role_key
                        data: { userid: user_key, roleid: roleid },
                        dataType: 'json',
                        success: function (data) {
                            var message = response;
                            if (message == "2") {
                                showToaster({ msg: "Role Assigned Sucessfully", priority: "success" });

                            }
                            //UsersBindGrid();
                            $('#responsiveRole').modal('hide');
                        }
                    });

                    $("#lblErrorRoleSelect").css("display", "none");
                }
                else {
                    $("#lblErrorRoleSelect").css("display", "block");
                }

            }

            //   UsersBindGrid();

            function getALLRoles() {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("getAllRoles", "Roles")',
                    dataType: 'json',
                    success: function (data) {
                        $("#ddlRole").empty();
                        var html = '<option>SELECT ROLE</option>';
                        $("#ddlRole").append(html);
                        $.each(data, function (i) {

                            var html = '<option value="' + data[i].cpc_key + '">' + data[i].cpc_name + '</option>';
                            $("#ddlRole").append(html);
                        });

                    }
                });
            }


            $("#Btn_Create_User").on("click", function () { CreateUserMethod(); });
            $("#asgnBtn").on("click", function () {
                debugger;
                var ddltext = $(".ddlRole option:selected").text();

                if (ddltext != "SELECT ROLE") {
                    var user_key = document.getElementById("txt_user_key").value;
                    var roleid = $(".ddlRole").val();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("AssignRoleToUser", "UserManagement")',
                        // data: "id=" + role_key
                        data: { userid: user_key, roleid: roleid },
                        dataType: 'json',
                        success: function (data) {
                            var message = data;
                            if (message == "2") {
                                //    //lblMessage.innerHTML = "User Already Exist";
                                showToaster({ msg: "Role Assigned Sucessfully", priority: "success" });

                                $('#AssignResponsiveRole').modal('hide');
                            }
                            else {
                                showToaster({ msg: "Role already Assigned", priority: "error" });

                            }

                            $(".ddlRole").prop('selectedIndex', 0);
                            // UsersBindGrid();

                        }
                    });

                    $("#lblErrorRoleSelect").css("display", "none");
                }
                else {
                    $("#lblErrorRoleSelect").css("display", "block");
                }
            });

            $("body").on("click", "#BtnDeleteUserButton", function () {
                debugger;
                var user_key2 = $(".BtnUserDelete").attr("data-val");
                var user_name = $(document.getElementById("username")).html();
                $.ajax({

                    url: "@Url.Action("DeleteUser", "UserManagement")",
                    //  data: "user_key=" + user_key ,
                    data: { user_name: user_name },
                    type: "GET",
                    success: function (data) {
                        $('#DelUserModel').modal('hide');
                        //UsersBindGrid();
                        SaveUserdeleteSuccess();
                    },
                    error: function (passParams) {
                        // code here idhar
                        showToaster({ msg: "User cannot be deleted because it has associated role(s).", priority: "warning" });

                    }
                });

            });


            $("body").on("click", ".BtnUserDelete", function () {
                debugger;
                var DeleteID = $(this).val();
                var DelName = $(this).attr("data-name");
                $(".nameVal").text(DelName);

                $(".deleteButton").attr("data-val", DeleteID);
                $(".deleteButton").attr("data-name", DelName);

            });

            UserGrid("Btn_GridView_List", "UserTbl");



            function SaveUserdeleteSuccess() {
                debugger;

                window.location.reload();
                showToaster({ msg: "User deleted successfully " });

            }
        </script>
    </div>
</div>
<div id="Update_Agile_Defect_Modal" class="modal fade" tabindex="-1" aria-hidden="true" data-url=''>
    <div id="UpdateAgileDefectContainer">
    </div>
</div>
<div class="modal fade bs-modal-lg" id="createUserModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="divcreateUser"></div>
</div>

<div class="modal fade bs-modal-lg" id="updateUserModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="divupdateUser"></div>
</div>

<div class="modal fade bs-modal-lg" id="deleteUserModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" id="divdeleteUser"></div>
</div>

