@using PerfectWeddings.HtmlHelpers

<li class="nav-item start">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-slideshare"></i>
        <span class="title">Plan</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li class="nav-item ">
            <a href="@Url.Action("Index2","TaskManager")" class="nav-link ">
                <i class="fa fa-map"></i>
                <span class="title">Planning</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item ">
            <a href="@Url.Action("Index","Roadmap")" class="nav-link ">
                <i class="fa fa-line-chart"></i>
                <span class="title">RoadMap</span>
                <span class="selected"></span>
            </a>
        </li> 
    </ul>
</li>

<li class="nav-item start">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-wrench"></i>
        <span class="title">Manage</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        @if (Html.CheckPermission(PerfectWeddings.Enums.MiscEnums.PagePermissions.UserStories, (Convert.ToInt32(Session["UserKey"]))))
      {

            <li class="nav-item ">
                <a href="@Url.Action("Index","UserStories")" class="nav-link ">
                    <i class="fa fa-user-secret"></i>
                    <span class="title">User Stories</span>
                    <span class="selected"></span>
                </a>
            </li>
       }
        @if (Html.CheckPermission(PerfectWeddings.Enums.MiscEnums.PagePermissions.TestCases, (Convert.ToInt32(Session["UserKey"]))))
      {

            <li class="nav-item ">
                <a href="@Url.Action("Index", "TestCases")" class="nav-link ">
                    <i class="fa fa-language"></i>
                    <span class="title">Test Cases</span>
                    <span class="selected"></span>
                </a>
            </li>
        }
        @if (Html.CheckPermission(PerfectWeddings.Enums.MiscEnums.PagePermissions.Defects, (Convert.ToInt32(Session["UserKey"]))))
      {
            <li class="nav-item ">
                <a href="@Url.Action("Index","Defects")" class="nav-link ">
                    <i class="fa fa-bug"></i>
                    <span class="title">Defects</span>
                    <span class="selected"></span>
                </a>
            </li>
        }
            <li class="nav-item ">
                <a href="@Url.Action("Index","#")" class="nav-link ">
                    <i class="fa fa-briefcase"></i>
                    <span class="title">Process</span>
                    <span class="selected"></span>
                </a>
            </li>
        </ul>
    </li>
<li class="nav-item start">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-desktop"></i>
        <span class="title">Execute</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        @if (Html.CheckPermission(PerfectWeddings.Enums.MiscEnums.PagePermissions.UserStories, (Convert.ToInt32(Session["UserKey"]))))
        {

            <li class="nav-item ">
                <a href="@Url.Action("Index","FunctionalArea")" class="nav-link ">
                    <i class="fa fa-cogs"></i>
                    <span class="title">Functional Execution</span>
                    <span class="selected"></span>
                </a>
            </li>
        }
        </ul>
</li>
<li class="nav-item start">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-bar-chart"></i>
        <span class="title"> Track</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
            <li class="nav-item ">
                <a href="@Url.Action("Index", "Track")" class="nav-link ">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-area-chart"></i>
                <span class="title">Charts</span>
                <span class="arrow open"></span>
               
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;" class="nav-link ">Project</a>
                </li>
                <li>
                    <a href="@Url.Action("Automation", "Track")" class="nav-link ">Automation</a>
                </li>
                <li>
                    <a href="@Url.Action("DefectChart", "Track")" class="nav-link ">Defects</a>
                </li>
            </ul>
        </li>
        <li class="nav-item ">
            <a href="javascript:;" class="nav-link ">
                <i class="fa fa-briefcase"></i>
                <span class="title">Reports</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>
</li>

