<div id="headertype" class="@Html.GetHeaderTypeCss()">
    <div id="innercontainer" class="page-header-inner">

        <div class="page-logo">
            <div class="menu-toggler sidebar-toggler"> </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <a style="text-decoration:none;" href="@Url.Action("Index","Home")">
                <p><span class="Logo11"><b>CALIBER</b></span><span class="Logo22"><b>MATRIX</b> </span></p>
            </a>
        </div>

        <div class="col-md-4 col-md-offset-2 col-xs-12 pt6">
            <div class="input-group">
                @*<select id="ddlProject" class="col-xs-4 col-md-6"></select>*@
                <div id="DdlDiv" style="visibility:hidden">
                    <select id="ddlProject" class="col-xs-4 col-md-6"></select>
                </div>
                <div class="input-group-btn">
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle setupbtn" data-toggle="dropdown" aria-expanded="false">
                            Setup
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ProjectSetup/Index">Agile</a>
                            </li>
                            <li>
                                <a href="/ProjectSetup/WaterFall">Waterfall</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-menu">
            <ul class="nav navbar-nav">
                <li class="quick-sidebar-toggler" style="display:none;">
                    <select id="ddlProject"></select>
                </li>
                <li class="quick-sidebar-toggler" style="display:none;">
                    <button type="button" id="btnProset" data-loading-text="Loading..." class="demo-loading-btn btn-circle btn btn-circle btn-default" data-toggle="modal" data-target="#modalpro"> Setup </button>
                </li>
                <li>
                    <div class="customsettings">@Html.Partial("ThemePref2", @Html.GetThem())</div>
                </li>
                <li>
                    <a href="@Url.Action("Index","Profile")" class="dropdown-toggle Logout m-t-n-5">
                        @if (HttpContext.Current.Session["Image"] != null && HttpContext.Current.Session["Image"] != "")
                        {
                            <img alt="" style="width:29px;height:29px;" class="img-circle" src="@HttpContext.Current.Session["Image"].ToString()">
                        }
                        else
                        {
                            <img alt="No Image" title="No Image" style="width:29px;height:29px;" class="img-circle" src="~/assets/layouts/layout3/img/blank-profile.png" />
                        }                    

                        @if (HttpContext.Current.Session["Image"] != null)
                        {
                             @HttpContext.Current.Session["Username"].ToString() 
                        }
                    </a>               
                <li>
                    <a href="@Url.Action("HelpPage","Home")" class="Logout" title="Need Help?">
                        <i class="fa fa-question-circle Theme-Font-Size-Large" aria-hidden="true"></i>
                    </a>
                </li>   
                <li>
                    <a href="@Url.Action("LogOutUser","Account")" class="Logout">
                        <i class="icon-power"></i> Log Out
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>


